@import 'variables';

.link-btn{
    transition: all .1s;
    border-radius: 16.5px;
    background: $primary-color;
    display: inline;
    font-size: 16px;
    color: white;
    text-decoration:none !important;

    white-space: nowrap;
    padding:2px 33px;
    &:hover{
        padding:2px 40px;
        -webkit-filter: grayscale(100%)saturate(0%);
        filter: grayscale(100%) saturate(0%);
    }
}
.accent-1{
    color: #5B97FF;
}
.white {
    color: white;
}
