@import 'variables';
@import 'mixins';




body{
    font-family: $primary-font;
    color:$primary-color;
}
body, html{
    overflow-x: hidden;
    padding: 0px;
    margin:0px;

    
}

h1,h2,h3,h4,h5 {
    font-family: $heading-font;
    margin:0px;
    color: $primary-color;
}

hr{
    border:0px;
    border-top: 1px solid $accent-color;
    
}
h1{
    font-size: 30px;
    @include mq('phone-wide'){
        font-size: 32px;
    }
    @include mq('tablet'){
        font-size: 33px;
    }
    @include mq('tablet-wide'){
        font-size: 40px;
    }
}
h2{
    font-size:16px;
    font-weight: normal;
    color: $accent-color;
    @include mq('tablet'){
        font-size:22px;
    }
}
h3{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
h4{
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
