

$primary-font : 'Open Sans', sans-serif;
$heading-font:'Roboto Slab', sans-serif;

$accent-color:#ADD036;
$accent-color-2: #5B97FF; 

$gradient:linear-gradient(90deg, $accent-color 0%, $accent-color-2 100%);
$gradient-darker:  linear-gradient(45deg, #243b55 0%, #000428 100%);
$gradient-dark: linear-gradient(45deg, #2C3E50 0%, #121920 100%);
$dark-color:#000428;
$primary-color: #253D80;

$lgrey-color:rgba(44, 62, 80, 0.64);
$inverse-color: #2C3E50;
