

$primary-font : 'Open Sans', sans-serif;
$heading-font:'Roboto Slab', sans-serif;

$accent-color:#ADD036;
$accent-color-2: #5B97FF; 
$primary-color: #253D80;

$gradient:linear-gradient(90deg, $accent-color 0%, $accent-color-2 100%);

