@import '../../app.scss';


.gallery-section{
    color: white;
    position: relative;
    svg.larger-svg, svg.smaller-svg{
        display: none;
    }
    .larger-svg{
        rect:first-of-type{
            display: none;
        }
    }
    h1{
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
        color: white;

    }
    .gallery-header-wrp{
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ul.gallery-header{
        display: flex;
        margin: 0px auto 50px auto;
        padding: 0px;
        background: $darker-blue;
        list-style: none;
        border-radius: 20px;
        overflow: hidden;
        color: lightgrey;
        width: 290px;
        li{
            font-size: 16px;
            padding: 10px 0px;
            text-align: center;
            width: 33%;
            &:hover:not(.active){
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.1);
                color: white;
            }
        }
        .active{
            color: white;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 20px;
            font-weight: bold;
        }
        @include mq("phone-wide") {
            width: 400px;
        }
        

    }
    background: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:auto;
    padding-top: 50px;
    padding-bottom: 120px;
    .image-gallery-slide{
        div{
            margin: auto;
        }
    }
    .image-gallery-thumbnail{
        width: 81px;
        height: 61px;
        .image-gallery-thumbnail-inner {
            position: relative;
            height: 100%;
            width: 100%;
            overflow: hidden;
            .image-gallery-thumbnail-image {
                vertical-align: middle;
                width: auto;

                line-height: 0;
                height: 100%;
            }
        }
    }
    .image-gallery-content:not(.fullscreen){
        .image-gallery-slide-wrapper{
            height: 228px;
            @include mq("tablet"){
                height: 290px !important;
            }
            @include mq("tablet-wide"){
                height: 350px !important;
            }
            @include mq("desktop"){
                height: 400px !important;
            }
            @include mq("desktop-wide"){
                height:  530px !important;
            }
        }
        .image-gallery-image, .react-video-slide, .react-player__preview,
        .react-video-slide div:first-child{
            max-height: 228px !important;
            @include mq("tablet"){
                max-height: 290px !important;
            }
            @include mq("tablet-wide"){
                max-height: 350px !important;
            }
            @include mq("desktop"){
                max-height: 400px !important;
            }
            @include mq("desktop-wide"){
                max-height:  530px !important;
            }
        }
        .react-video-slide{
            div:first-child{
                max-width: 100% !important;
            }
        }
        

}
    .gallery-content{
        width: 95%;
        @include mq("tablet"){
            padding: 50px;
            width: 600px;
            h1{
                margin-bottom: 50px;
            }
        }
        @include mq("tablet-wide"){
            width: 700px;
        }
        @include mq("desktop"){
            width: 730px;
            padding-top: 0px;
            padding-bottom: 100px;
        }
        @include mq("desktop-wide"){
            width: 900px;
            margin:auto;
        }

    }
    @include mq("tablet"){
        svg.larger-svg, svg.smaller-svg{
            width: 40px;
            display: initial;
            position: absolute;
        }
        .larger-svg{
            left: 0;
            top: 10%;
        }
        .smaller-svg{
            bottom: 25%;
            right: 0;
        }
    }
    @include mq("tablet-wide"){
        padding-top: 15vh;
    }


}
.images-of-the-week-past{
    h1{ 
        padding-bottom: 40px;
        width: 100%;
        text-align: center; 
    }
    padding: 70px 2% 50px 2%;
}